{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    /**
     * Template do conteúdo da página de introdução do curso
     *
     * @package    local_intropage
     * @copyright  2024 Breno Augusto <brenoaugusto@uems.br>
     * @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
     */
}}

<div class="intropage-header">
    <h1>{{fullname}}</h1>
</div>

<div class="intropage-content">

    <!-- Main Content -->

    <div class="intropage-main">
        <!-- Inscrições -->
        <div class="intropage-section d-flex">
            <!-- Cabeçalho da seção -->
            <div class="intropage-info-item">
                <div class="intropage-info-header">
                    <i class="fa-solid fa-calendar-alt"></i>
                    <strong>Inscrições:</strong>
                </div>

                <!-- Período de inscrições -->
                <div class="d-flex flex-row flex-wrap intropage-enroll-date px-3 pt-3">
                    <div class="d-flex align-items-center">
                        <span class="text-muted mx-2 mb-2">De:</span>
                        <strong class="h3 mr-5 text-nowrap">{{enrolstart}}</strong>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="text-muted mx-2 mb-2">Até:</span>
                        <strong class="h3">{{enrolend}}</strong>
                    </div>
                </div>

                <!-- Legenda -->
                <div class="intropage-legend text-muted fw-light mx-2">
                    GMT-04 (Horário Padrão do MS)
                </div>
            </div>
        </div>


        <!-- Detalhes -->
        <div class="intropage-section">
            <div class="intropage-title">
                <h3>Detalhes</h3>
            </div>
            <div class="intropage-summary">
                {{{summary}}}
            </div>
        </div>
        <!-- Selos da ODS -->
        <div class="intropage-section">
            <div class="intropage-title">
                <h3>Objetivos de Desenvolvimento Sustentável (ODS)</h3>
            </div>
            <div class="intropage-ods-badges">
                {{#ods_numbers}}
                    <div class="ods-badge">
                        <img src="{{pluginbaseurl}}/pix/sdg/SDG-{{.}}.svg" alt="ODS {{.}}" class="ods-badge">
                        <span>ODS {{.}}</span>
                    </div>
                {{/ods_numbers}}
                {{^ods_numbers}}
                    <p>Nenhum ODS informado.</p>
                {{/ods_numbers}}
            </div>
        </div>
    </div>

    <!-- SIDEBAR -->    

    <div class="intropage-sidebar">
        <!-- Botão com URL externa -->
        <div class="intropage-button-collection">
            <a href="https://www.uems.br" class="intropage-button bg-light border" target="_blank">
                <span class="text-dark">Edital</span> <i class="fa-solid fa-newspaper text-dark"></i>
            </a>
            <a href="https://www.uems.br" class="intropage-button" target="_blank">
                <span>Inscreva-se</span><i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </div>

        <div class="intropage-section m-0">
            <!-- Categoria -->
            <div class="intropage-info-item">
                <div class="intropage-info-header">
                    <i class="fa-solid fa-layer-group"></i>
                    <strong>Categoria:</strong>
                </div>
                <p class="intropage-info-text">{{categoryname}}</p>
            </div>
            <!-- Público-alvo -->
            <div class="intropage-info-item">
                <div class="intropage-info-header">
                    <i class="fa-solid fa-users"></i>
                    <strong>Público-Alvo:</strong>
                </div>
                <p class="intropage-info-text">Professores, Técnicos e Alunos</p>
            </div>
        </div>
    </div>
</div>
